/* CSS styles for the main sections of the web page.*/
/* Copyright © 2019 Patrick Gonzalez                */

html
{
	width: 100%;
}

body
{
	font-size: 12px;
	background-color: Turquoise;
}

h1, footer
{
	float: left;
	background-color: white;
	height: 36px;
	text-align: center;
	width: 100%;
	vertical-align: middle;
}

footer p
{
	padding-top: 10px;
}

h1
{
	font-size: 24px;
	padding-top: 10px;
}

/* CSS  styles for card elements                                                           */
/* FUTURE: for reusability and maintainability these rules could be move to their own file */
section.brightwheel.card
{
	display: inline;
	float: left;
	margin: 10px;
	width: 320px;
	height: 750px;
	background-color: white;
	border: 1px solid black;
}

.brightwheel section
{
	padding: 15px;
}

.brightwheel section.repoSection h2,
.brightwheel section.commitSection h2
{
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}

/* Styles for the avatar images */
.brightwheel img
{
	width: 100%;
	height: auto;
}

/* Add a top border to the commit sections                                          */
/* The commit data can be very long, so add an overflow of scroll with a max height */
.brightwheel section.commitSection
{
	border-top: 5px solid black;
	max-height: 250px;
	overflow: scroll;
}

.brightwheel section.repoSection span,
.brightwheel section.commitSection span
{
	font-weight: bold;
	display: inline-block;
	float: left;
	min-width: 50px;
	padding-bottom: 5px;
}

.brightwheel section.repoSection div.nameDiv,
.brightwheel section.repoSection div.urlDiv,
.brightwheel section.repoSection div.starsDiv,
.brightwheel section.commitSection div
{
	display: inline-block;
	width: 270px;
	overflow-wrap: break-word;
	padding-bottom: 5px;
	padding-left: 25px;
}